<section class="header-container">
  <div class="header-title" (click)="goHome()">Marbin</div>

  <div class="user-container">
    <div class="btn" *ngIf="!tokenService.isLoggedIn()" (click)="signup()">Signup</div>
    <div class="divider" *ngIf="!tokenService.isLoggedIn()">/</div>
    <div class="btn" *ngIf="!tokenService.isLoggedIn()" (click)="login()">Login</div>

    <div class="profile-btn" *ngIf="tokenService.isLoggedIn()" (click)="goToProfile()">
      <i class="fa fa-user-circle-o" aria-hidden="true" style="margin-right: 8px; font-size: 22px;"></i>
      My Account
    </div>

    <div class="logout-btn" *ngIf="tokenService.isLoggedIn()" (click)="logout()">Logout</div>
  </div>
</section>
