<section class="page-container">
  <app-search-input class="search-input"></app-search-input>

  <div class="search-content">
    <app-filter></app-filter>

    <div class="result-list" *ngIf="products.length !== 0">
      <div *ngFor="let product of products">
        <app-result-item [product]="product" (productSelected)="onSelectProcduct()"></app-result-item>
      </div>
    </div>

    <div class="result-list" *ngIf="products.length === 0" style="margin-top: 90px;">
      There is no result found.
    </div>
  </div>

</section>
