@import '../../../../shared/style-shared.scss';

.page-container {
  width: 100%;
  // height: 100vh;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  position: relative;
}

.search-input {
  padding: 20px;
  // width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  background-color: $BackGround;
}

.search-content {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.result-list {
  width: calc(100% - 330px);
  // height: 100vh;
  min-height: 100vh;
  padding: 20px 5px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
  // overflow: auto;
}
