<section class="page-container">
  <div class="page-title">Signup Now!</div>
  <div class="siginup-form">
    <input class="input" type="text" placeholder="First Name" [(ngModel)]="user.first_name">

    <input class="input" type="text" placeholder="Last Name" [(ngModel)]="user.last_name">

    <input class="input" type="email" placeholder="Email" [(ngModel)]="user.email">

    <input class="input" type="password" placeholder="Password" [(ngModel)]="user.password_digest">

    <input class="input" type="text" placeholder="Phone" [(ngModel)]="user.phone">

    <input class="input" type="text" placeholder="Address" [(ngModel)]="user.address">

    <div class="submit unselectable" (click)="signup()">Signup</div>
  </div>
</section>
