@import '../../../../shared/style-shared.scss';

.main-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  box-shadow: $boxShadow;
  margin-bottom: 20px;
}

#picturesSwiper {
  width: 100%;
  height: 400px;
  display: flex;
  flex-flow: row nowrap;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.swiper-slide {
  width: 25% !important;
  height: 100%;
}

.slider-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  box-sizing: border-box;
}

.title-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.name {
  font-size: 22px;
  font-weight: bold;
  color: $Dark;
}

.type {
  height: 30px;
  background-color: $Yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $PureWhite;
  font-size: 14px;
  padding: 0 8px;
  font-weight: bold;
  border-radius: 30px;
  margin-left: 8px;
}

.desc {
  width: 100%;
  text-align: justify;
  text-align-last: left;
  font-size: 18px;
  color: $Dark;
}

.bold-text {
  font-weight: bold;
  font-size: 20px;
}

.product-price-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  border-left: 1px solid #eeeeee;
  padding: 40px;
  box-sizing: border-box;

  .price {
    font-size: 25px;
    color: $Dark;
  }

  .select-btn {
    width: 110px;
    height: 40px;
    background-color: $Blue4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $PureWhite;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 22px;
    transition: 0.1s linear;
    margin-top: 20px;
  }

  .select-btn:hover {
    background-color: $Blue5;
  }
}
