<section class="aboutus-container">
  <div class="aboutus-item">
    <i class="fa fa-heart-o aboutus-icon" aria-hidden="true"></i>
    <div class="aboutus-title">Holidays to suit all tastes</div>
    <div class="aboutus-text">
      Convivial holidays, to suit your tastes with services included or à la carte plus avantages with our local
      partners !
    </div>
  </div>

  <div class="aboutus-item">
    <i class="fa fa-thumbs-o-up aboutus-icon" aria-hidden="true"></i>
    <div class="aboutus-title">90% of satisfied clients!</div>
    <div class="aboutus-text">During the winter season 2018/19, our clients assessed their holiday rental.</div>
  </div>

  <div class="aboutus-item">
    <i class="fa fa-coffee aboutus-icon" aria-hidden="true"></i>
    <div class="aboutus-title">Services & avantages that make the difference!</div>
    <div class="aboutus-text">With Marbin you have many services included or à la carte and advantages with our partners
      !</div>
  </div>

  <div class="aboutus-item">
    <i class="fa fa-shield aboutus-icon" aria-hidden="true"></i>
    <div class="aboutus-title">With Marbin, leave on holiday with complete peace of mind!</div>
    <div class="aboutus-text">With our insurance offers, our secured payment method and our client service centre
      available to help when needed. With Marbin enjoy peace of mind on your holiday !</div>
  </div>
</section>
